<%const archivesList = list_archives();%>
<div id="page">
<%-partial('partials/aside')%>
<div id="lx-main-content">
  <div class="lx-post">
    <% page.posts.each(function (post) { %><div class="lx-entry padding"><div>
    <span class="lx-post-detail"><%= date(post.date, "YYYY-MM-DD") %></span>
    <h2><a href="<%- url_for(post.path) %>"><%= post.title %></a></h2>
    </div></div><% }) %>
<%-partial('partials/pagination')%>
<%-partial('partials/footer')%>
  </div>
</div>
</div>