<div id="lx-aside" style="background-image: url(<%-theme.cover%>)">
  <div class="overlay">
  <%-partial('menu')%>
  <div class="featured">
    <img src="<%-theme.avatar%>">
    <span><%- config.title%></span>
    <h2><%- config.subtitle%></h2>
  </div>
  </div>
</div>